body {
    color: white;
    background-color: #4ADB3D;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 0px }

h1 {
    font-family: 'Lily Script One', cursive;
    font-size: 70px }

a, u {
    text-decoration: none;
    color: white;
    font-weight: bold }

footer {
    font-family: 'Lily Script One', cursive;
    background: white;
    color: #4ADB3D;
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;
    padding-top:40px }

#logo {
    background:url('../img/front.png') no-repeat center top;
    height: 400px;
    width: auto;
    background-size: auto 400px }

#logo:hover {
    background:url('../img/blur.png') no-repeat center top;
    height: 400px;
    background-size: auto 400px }

#shadowed {
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 }

