<div class="page-wrap">
    <br/><br/>
    <h1 id="title">{{.Title}}</h1>
    <br/>
    <div id="logo"></div>
    <br/>
    <section id="description">
        <p>{{.Description}}</p>
        <br/>
        <a class="out" href="mailto:info@lozoyavalley.org"><p>{{.LearnMore}}</p></a>
    </section>
</div>
