<div class="page-wrap">
    <h1 id="title">{{.Title}}</h1>
    <br/>
    <div id="logo"></div>
    <br/>
    <section id="description">
        <p>{{.Description}}</p>
        <br/>
        <a class="out" href="mailto:info@lozoyavalley.org"><p>{{.LearnMore}}</p></a>
    </section>
</div>

<footer class="site-footer">
    <p id="footer-content">
        <a class="in" href="http://twitter.com/lozoyavalley"><small>@lozoyavalley</small></a>
        <small>2014</small>
        <br/>
        <a class="in" href="/"><small>en</small></a>
        <a class="in" href="/es"><small>es</small></a>
    </p>
</footer>
