<h1>Lozoya Valley</h1>
<div id="logo"></div>

<section id="description">
    <p>The <strong>Lozoya Valley</strong> initiative aims to associate product and media professionals to launch and
    adapt a technology and creative scene within a rural, natural environment, encouraging a healthy and sustainable way of life.</p>
    <a class="out" href="mailto:info@lozoyavalley.org"><p>Want to know more? Want to support?</p></a>
</section>

<footer>
    <a class="in" href="http://twitter.com/lozoyavalley"><small>@lozoyavalley</small></a>
    <small>2014</small>
</footer>

