<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="{{.Title}}">
        <meta name="keywords" content="lozoya, valley, coworking, enterpreneurship, emprender, startups, madrid, technology, hub" >
        <meta name="description" content={{.Description}} >
        <title>{{.Title}}</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
        <link href='css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {{ yield }}
        <footer class="site-footer">
            <p id="footer-content">
                <a class="in" href="http://twitter.com/lozoyavalley"><small>@lozoyavalley</small></a>
                <small>2014</small>
                <br/>
                <a class="in" href="/"><small>en</small></a>
                <a class="in" href="/es"><small>es</small></a>
            </p>
        </footer>
    </body>
</html>



